<div>
    <div ng-show="gameCtrl.announceBoard.isAnnouncing()" class="announce-msg">
        {{gameCtrl.announceBoard.getContent()}}
    </div>
    <table class="center-display" ng-show="gameCtrl.game">
        <tbody>
        <tr class="rows" ng-repeat="row in gameCtrl.game.getRows()">
            <td class="cols game-cell"
                ng-repeat="cell in row"
                right-click="gameCtrl.game.toggleFlag(cell);"
                ng-click="gameCtrl.game.reveal(cell);"
                ng-class="{'flagged' : cell.isFlagged(), mine: cell.isMine(), reveal : cell.isRevealed()}">
                <div ng-show="cell.isRevealed();">
                    {{gameCtrl.game.getLabel(cell)}}
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>